
.container1 {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #080808;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #8dc6dd;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .select-country {
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .result1 {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    font-size: 20px;
  }
  